#-------------------------------------------------------------------------
#Activar RewriteEngine
#-------------------------------------------------------------------------
RewriteEngine on

#-------------------------------------------------------------------------
#Eliminar index.php
#-------------------------------------------------------------------------
RewriteCond $1 !^(index\.php|robots\.txt|sitemap\.xml|css)
RewriteRule ^(.*)$ index.php/$1 [L]
#--------------------------------------------------------------------------
#ocultar la extencion 
#--------------------------------------------------------------------------
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^(.*)$ $1.ph 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]